sudo: false
dist: trusty

language: node_js

node_js:
  - "7"
  - "6"
  - "4"

before_install: if [[ `npm -v` != 3* || `npm -v` != 4* ]]; then npm i -g npm@3; fi

addons:
  code_climate:
    repo_token: f2449b17c6849d69b6bb7f184314db0572565dfb6c1d09f3a41d085348448c62

script:
- npm test
- npm run build

after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
