<ul class="steps-indicator steps-{{numberOfWizardSteps}}">
  <li *ngFor="let step of wizardSteps"
      [ngClass]="{
        default: isDefault(step),
        current: isCurrent(step),
        done: isDone(step),
        editing: isEditing(step),
        optional: isOptional(step),
        navigable: isNavigable(step)
  }">
    <div>
      <a [awGoToStep]="step"
         [attr.step-symbol]="step.navigationSymbol.symbol"
         [ngStyle]="{ 'font-family': step.navigationSymbol.fontFamily }">
        <ng-container *ngIf="step.stepTitleTemplate" [ngTemplateOutlet]="step.stepTitleTemplate.templateRef"></ng-container>
        <ng-container *ngIf="!step.stepTitleTemplate">{{step.stepTitle}}</ng-container>
      </a>
    </div>
  </li>
</ul>
