// Wizard layouts to be generated (all by default).
// Override this variable to exclude layouts you don't need.
$aw-layouts: 'horizontal' 'vertical' !default;

// Wizard indicator styles to be generated (all by default).
// Override this variable to exclude indicator styles you don't use.
$aw-indicator-styles: 'small', 'large-filled', 'large-empty', 'large-filled-symbols', 'large-empty-symbols' !default;

// Color definitions - a mapping from indicator style and wizard step state to colors.
//
// Predefined indicator styles are: 'small', 'large-filled', 'large-empty', 'large-filled-symbols', 'large-empty-symbols'.
//
// Wizard step states are: 'default', 'current', 'done', 'optional', 'editing'.
//
// Colors are: 'border-color-default', 'background-color-default', 'symbol-color-default', 'border-color-hover',
// 'background-color-hover', 'symbol-color-hover'.  The 'hover' values are applied when the user hovers the mouse
// pointer over a navigable wizard step indicator.  Otherwise the 'default' values are used.
//
// Notes:
// - The order of wizard step states in this mapping does not affect the order of resulting CSS rules, which is fixed
//   internally by angular-archwizard (see `aw-define-style` mixin).
// - Depending on the active indicator style, some colors may not be used.  For example, 'background-color-default' and
//   'background-color-hover' do not make sense in 'large-empty-symbols' indicator style.
//
// 'Null' colors
// -------------
//
// You can use `null` instead of a color value to exclude the corresponding property from CSS output.  For example,
//
//   $aw-colors: (
//     '_': (
//       'editing': (
//         'border-color-default': null,
//         'border-color-hover': null
//       )
//     )
//   )
//
//   will turn off red border for wizard steps in 'editing' state.
//
// Default colors
// --------------
//
// You can set default colors by using '_' in place of an indicator style or a wizard step state.
// The `aw-get-color` function looks up the requested color in the following order, picking the first defined entry:
//
// - $aw-colors[$indicator-style][$step-state][$color]
// - $aw-colors[$indicator-style]['_'][$color]
// - $aw-colors['_'][$step-state][$color]
// - $aw-colors['_']['_'][$color]
//
$aw-colors: (
  '_': (
    'default': (
      'border-color-default': #E6E6E6,
      'background-color-default': #E6E6E6,
      'symbol-color-default': #E6E6E6,
      'border-color-hover': darken(#E6E6E6, 10%),
      'background-color-hover': darken(#E6E6E6, 5%),
      'symbol-color-hover': darken(#E6E6E6, 10%),
    ),
    'current': (
      'border-color-default': #808080,
      'background-color-default': #808080,
      'symbol-color-default': #808080,
      'border-color-hover': darken(#808080, 10%),
      'background-color-hover': darken(#808080, 5%),
      'symbol-color-hover': darken(#808080, 10%),
    ),
    'done': (
      'border-color-default': #339933,
      'background-color-default': #339933,
      'symbol-color-default': #339933,
      'border-color-hover': darken(#339933, 10%),
      'background-color-hover': darken(#339933, 5%),
      'symbol-color-hover': darken(#339933, 10%),
    ),
    'optional': (
      'border-color-default': #38ef38,
      'background-color-default': #38ef38,
      'symbol-color-default': #38ef38,
      'border-color-hover': darken(#38ef38, 10%),
      'background-color-hover': darken(#38ef38, 5%),
      'symbol-color-hover': darken(#38ef38, 10%),
    ),
    'editing': (
      'border-color-default': #FF0000,
      'background-color-default': #FF0000,
      'symbol-color-default': #FF0000,
      'border-color-hover': darken(#FF0000, 10%),
      'background-color-hover': darken(#FF0000, 5%),
      'symbol-color-hover': darken(#FF0000, 10%),
    ),
  ),
  'large-filled-symbols': (
    '_': (
      'symbol-color-default': black,
      'symbol-color-hover': black,
    )
  )
) !default;

// line color
$aw-line-color: #E6E6E6 !default;

// label colors
$aw-label-color-default: #808080 !default;
$aw-label-color-hover: darken($aw-label-color-default, 20%) !default;

// Circle definitions
//
// Circles are the visual representation of wizard steps in the navigation bar.  Depending on
// the step indicator style selected for the wizard, circles are either small (indicator style 'small')
// or big (indicator styles 'large-filled', 'large-empty', 'large-filled-symbols' etc.).
//
// A short summary of available configuration options:
// - dot-border-width defines circle border width
// - dot-width defines the horizontal dimension of circles
// - dot-height defines the vertical dimension of circles
//
// It is recommended to always have dot-width equal to dot-height.
//
$aw-circle-border-width: 2px !default;

// small definitions
$aw-small-circle-width: 14px !default;
$aw-small-circle-height: 14px !default;

// big definitions
$aw-big-circle-width: 50px !default;
$aw-big-circle-height: 50px !default;

// padding between text and baseline, for horizonal navigation bar
$aw-text-padding-bottom: 10px !default;

// padding between text and baseline, for vertical navigation bar
$aw-text-margin-left: 15px !default;

// distance between steps, for vertical navigation bar
$aw-distance-between-steps: 10px !default;

$aw-text-height: 14px !default;


aw-wizard {
  display: flex;
  justify-content: flex-start;

  .wizard-steps {
    top: 0;
    display: flex;
  }
}

aw-wizard.horizontal {
  flex-direction: column;

  .wizard-steps {
    width: 100%;
    flex-direction: row;
  }
}

aw-wizard.vertical {
  flex-direction: row;

  .wizard-steps {
    min-width: calc(100% - 280px);
    width: 80%;
    height: 100%;
    flex-direction: column;
  }
}


aw-wizard-step,
aw-wizard-completion-step {
  height: auto;
  width: 100%;
}


@import './wizard-navigation-bar';
