<wizard-navigation-bar
  *ngIf="navBarLocation == 'top' || navBarLocation == 'left'"
  [ngClass]="{
    vertical: navBarLocation == 'left',
    horizontal: navBarLocation == 'top'
  }">
</wizard-navigation-bar>

<div [ngClass]="{
  'vertical-navigation-bar': navBarLocation == 'left' || navBarLocation == 'right'
}">
  <ng-content></ng-content>
</div>

<wizard-navigation-bar
  *ngIf="navBarLocation == 'bottom' || navBarLocation == 'right'"
  [ngClass]="{
    vertical: navBarLocation == 'right',
    horizontal: navBarLocation == 'bottom'
  }">
</wizard-navigation-bar>
