<ul class="steps-indicator steps-{{numberOfWizardSteps}}">
  <li *ngFor="let step of wizardSteps, let stepIndex = index"
      [attr.step-symbol]="step.navigationSymbol"
      [ngStyle]="{
        'font-family': step.navigationSymbolFontFamily
      }"
      [ngClass]="{
        default: !step.optional && !step.completed && !step.selected && !wizardState.completed,
        current: (step.selected && !step.completed && !wizardState.completed),
        done: (step.completed && !step.selected) || wizardState.completed,
        editing: step.selected && step.completed && !wizardState.completed,
        optional: step.optional && !step.completed && !step.selected && !wizardState.completed,
        navigable: !step.selected && navigationMode.isNavigable(stepIndex)
  }">
    <div>
      <a [goToStep]="step">
        <ng-container *ngIf="step.titleTemplate" [ngTemplateOutlet]="step.titleTemplate.templateRef"></ng-container>
        <ng-container *ngIf="!step.titleTemplate">{{step.title}}</ng-container>
      </a>
    </div>
  </li>
</ul>
