<wizard-navigation-bar
  *ngIf="navBarLocation == 'top' || navBarLocation == 'left'"
  [ngClass]="{
    vertical: navBarLocation == 'left',
    horizontal: navBarLocation == 'top',
    small: navBarLayout == 'small',
    'large-filled': navBarLayout == 'large-filled',
    'large-empty': navBarLayout == 'large-empty',
    'large-symbols': navBarLayout == 'large-symbols'
  }">
</wizard-navigation-bar>

<div [ngClass]="{
  'wizard-steps': true,
  vertical: navBarLocation == 'left' || navBarLocation == 'right',
  horizontal: navBarLocation == 'top' || navBarLocation == 'bottom'
}">
  <ng-content></ng-content>
</div>

<wizard-navigation-bar
  *ngIf="navBarLocation == 'bottom' || navBarLocation == 'right'"
  [ngClass]="{
    vertical: navBarLocation == 'right',
    horizontal: navBarLocation == 'bottom',
    small: navBarLayout == 'small',
    'large-filled': navBarLayout == 'large-filled',
    'large-empty': navBarLayout == 'large-empty',
    'large-symbols': navBarLayout == 'large-symbols'
  }">
</wizard-navigation-bar>
